.icon-fab{
    font-size: 300%;
}

.dev-icons .letras {
  font-size: 1.1rem;
}
  .whatsapp-button-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
    }
    .whatsapp-button-container .social-icon {
        font-size: 2em; 
        color: #25D366; 
        background-color: white; 
        border-radius: 50%; 
        padding: 10px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    }
    :root {
    --bs-primary: rgb(160, 163, 165);
    --bs-primary-rgb: 160, 163, 165; 

    --bs-link-color: #50b8d7; 
    --bs-link-hover-color: #6dd0e5;    
}
.social-icons .social-icon:hover {
    background-color: #4edded; 
}
.fa-trophy.text-warning {
    color: #e9f32d !important;
}